main{
  /* min-height: 0px; */
  display:grid;
  place-items: center;
  
}
.container{
  text-align: center;
}
#value{
  /* place-items: center; */
  color: blue;
  /* padding: 1px; */
  /* align-items: center; */
  /* padding: 50%; */
}